@import './element-ui.scss';
@import './mixin.scss';

body {
  min-width: 960px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background:#eef1f6;
  font-size:14px;
}

html {
  // -webkit-filter: grayscale(100%);
  min-width: 960px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
p{
  -webkit-margin-before: 0em;  
  -webkit-margin-after: 0em;
}
input, button{
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  }
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//vue router transition css
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}
//公告小红点样式
// .selfDot .dotstyle1 {
//   top: 6px;
//   right: 12px;
//   position: absolute;
//   -ms-transform: translateY(-50%) translateX(100%);
//   transform: translateY(-50%) translateX(100%);
// }
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.selfnotice{
  padding:0px !important;    
  width: 260px !important;
  top: 46px !important;
}
.selfnotice1{   
  top: 46px !important;
}
.noticeWrap .el-dropdown-menu__item{margin-left:5px;}
.noticeWrap .Scandown1{width:228px;}
//main-container全局样式
.app-main {
  min-height: 100%;
  margin:0 15px;
  min-width: 1080px;
}

// .app-container {
//   padding: 20px;
// }

.svg-icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.el-table {
  margin-top: 20px
}
//
.el-step__main{
  margin-left:0px;
}
//小button样式
.button-small {
  cursor: pointer;
  border: none;
  outline: none;
  height: 25px;
  text-align: center;
  font-size: 12px;
  width: 80px;
  color: #fff;
  background: #4c70e8;
}

//四字小button样式
.button-small-fourth {
  cursor: pointer;
  border: none;
  outline: none;
  height: 25px;
  text-align: center;
  font-size: 12px;
  width: 80px;
  color: #fff;
  background: #4c70e8;
}

//大button样式
.button-large {
  cursor: pointer;
  border: none;
  outline: none;
  height: 30px;
  // line-height: 30px;
  font-size: 12px;
  text-align: center;
  width: 80px;
  color: #fff;
  background: #4c70e8;
  border: 1px solid #4c70e8;
}

//四字大button样式
.button-large-fourth {
  cursor: pointer;
  border: none;
  outline: none;
  height: 34px;
  font-size: 12px;
  text-align: center;
  width: 100px;
  color: #fff;
  background: #4c70e8;
}

//按钮hover
.button-small-fourth:hover {
  background: #6d8dfc;
}

.button-small:hover {
  background: #6d8dfc;
}

.button-large-fourth:hover {
  background: #6d8dfc;
}

.button-large:hover {
  background: #6d8dfc;
}

//取消按钮样式
.button-cancel {
  cursor: pointer;
  border: none;
  outline: none;
  height: 30px;
  font-size: 12px;
  text-align: center;
  width: 80px;
  color: #4c70e8;
  margin-left: 16px;
  background: #ffffff;
  border: 1px solid #4c70e8;
}
//搜索按钮样式
.search-button{
  cursor: pointer;
  width:100px;
  height:30px;
  border:none;
  outline:none;
  color:#fff;
  font-size:12px;
  background: #4c70e8;
}
.search-button:hover {
  background: #6d8dfc;
}
//新增按钮样式
.add-button{
  cursor: pointer;
  width:80px;
  height:25px;
  border:none;
  outline:none;
  color:#fff;
  font-size:12px;
  background: #4c70e8;
}
.add-button:hover {
  background: #6d8dfc;
}
.el-tag{
  color: #7a838a;
  background-color: #fff;
  border:none;
  height: 28px;
  line-height: 28px;
  border-radius:0px;
}
.tabs-view-container .tabs-view{
  margin-left:0px !important;
  background:none;
  height:24px;
  line-height:24px;
}
.el-tag--primary{
  background-color: #f0f4f5;
  border:none;
}
//
.el-button{
  border-color: #1d85fe;
  color:#1d85fe;
  font-size:12px;
  padding: 10px 15px;
}
.el-button:hover{
  border-color:#3e9fff;
  background:#3e9fff;
  color:#fff;

}
// 表格样式
.el-table .cell{
  padding: 0 !important;
}
.el-table thead{
  color: #1f2d3d;
}
#info_table .el-table__expanded-cell{
  padding: 0;
}
#info_table .el-table__expanded-cell .el-form-item{
  margin: 0;
}
#info_table .el-table__expanded-cell .el-form-item,
#info_table .el-table__expanded-cell .el-form-item__content{
  width: 100%;
}
.row-expand-cover .el-table__expand-icon,
.row-expand-str .el-table__expand-icon,
.row-expand-groupstr .el-table__expand-icon{
  // visibility:hidden;
  display: none
}
// .row-expand-str td,
// .row-expand-groupstr td{
//   border-right: none;
// }
// .row-expand-str td:nth-of-type(5),
// .row-expand-groupstr td:nth-of-type(4){
//   border-right: 1px solid #ebeef5;
// }
// .row-expand-str td:nth-of-type(5) span,
// .row-expand-groupstr td:nth-of-type(4) span{
//   font-weight: bolder;
// }
.line_height_label .el-form-item__label{
  line-height: 37px;
}
.order-info #info_table .el-table__body tr:last-child td:nth-of-type(1),
.order-info #info_table .el-table__body tr:last-child td:nth-of-type(2),
.order-info #info_table .el-table__body tr:last-child td:nth-of-type(3),
.order-info #info_table .el-table__body tr:last-child td:nth-of-type(4)
{
  border-right: none;
}
.order-info #info_table .el-table__body tr:last-child td:nth-of-type(5) span{
  font-weight: bolder;
}
.el-table{
  font-size:12px;
}
.el-table__header-wrapper{
  font-size:14px;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: #fff;
}
.el-pagination{
  font-size:14px;
  padding: 0px;
  font-weight: normal;
}
.el-pagination button, .el-pagination span{
  font-size:14px;
}
//分页样式
.el-pagination__editor .el-input__inner{
  font-size:13px;
  box-shadow: 0 0 0 #fff;
}
.el-form-item__content{
  line-height: 36px;
}
.el-form-item__label{
  font-size:12px;
}
.el-input__inner{
  height: 36px;
  line-height: 36px;
}
//input去掉圆角
.el-input__inner,.el-textarea__inner {
  border-radius: 0px;
  font-size:12px;
}
.el-input-number .el-input {
  display: block;
  border: 0px;
  border-left: 0px;
  border-bottom: 0px;
  margin-top: 1px;
  text-align: center;
}
.el-input-number .el-input__inner {
  font-size:12px;
  letter-spacing:-1px;
  // padding-right:10px;
  text-align: center;
  border:1px solid #ccc !important;
}
.roomTypeStyle .el-input__inner{
  font-size: 14px;
  text-align: center;
  border:1px solid #ccc !important;
}
.el-input-number__decrease {
  left:0px;
  border: 1px solid #bfcbd9;
  // border-left: none;
}
.el-input-number__increase {
  right: 0px;
  border: 1px solid #bfcbd9;
  // border-right: none;
}
//横向分隔线样式
.hr-style {
  height: 1px;
  width:95%;
  background: #eef1f6;
  margin-left: 30px;
  margin-top: 10px;
}
//横向分隔线样式1
.hr-style1 {
  height: 1px;
  width:100%;
  background: #eef1f6;
  margin-top: 10px;
}
//tabs自定义样式
.self-el-tabs .el-tabs__nav-scroll{
  padding-bottom: 0px;
}
.fl {
  float: left;
}

.fr {
  float: right;
}
.mt20 {
  margin-top:20px; 
}
.selfCheckBox {
  width: 80px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #bfcbd9;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-left: 20px;
  font-size: 14px;
  cursor: pointer;
}

.selfCheckBox .tally {
  color: #fff;
  font-size: 12px;
  position: absolute;
  margin-top: -23px;
  margin-left: 68px;
} //对号html代码：&#10004
.selfCheckBox .triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 15px solid green;
  border-left: 15px solid transparent;
  position: absolute;
  margin-top: -17px;
  margin-left: 63px;
}

/* 编辑,删除样式 */
.site-div div{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
.site-div div:nth-child(2){
  font-size: 12px;
  width: 48px;
  height: 20px;
}
.el-table td, .el-table th {
  height: 60px;
  min-width: 0;
  min-height: 60px;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.redStart{
  color: red;
}
.el-dialog__headerbtn{
  display: none;
}
.ceshi {
  height: 25px;
  width: 80px;
}
.ceshi3 {
  font-size: 12px;
  color: #1d85fe;
  border: 1px solid #1d85fe;
  background-color: #ffffff;
}
body {
  background-color: #eef1f6;
}
// 分页
.el-pager li{
  border: 1px solid #d1dbe5;
  border-right: 0;
}
.el-pager li.active+li {
  border-left: 0;
  padding-left: 5px;
}
.el-pager li:last-child {
  border-right: 1px solid #d1dbe5;
}
// 选中行的样式
#tableColor tbody tr.current-row>td,#staion_map_table tbody tr.current-row>td{
  background-color: rgba(10, 104, 226, 0.26);
}
.el-table tbody tr.current-row>td{
  background-color:#fff;
}

.bgWhite .el-radio-button__inner {
  display: block;
  border: none;
  width: 100%;
  color: #333333;
  border: 0px solid #bfcbd9;
}
/* //  修改*号 */
.el-form-item .el-form-item__label:before {
  content: '*';
  color: #ffffff;
  margin-right: 4px;
  font-size: 16px;//   ******************
  vertical-align:middle;
}
.filter-container{
  border-bottom: 1px solid #eee;
}
// 搜索按钮样式(修改)
.btn_search{
  margin-top: 3px !important;
  float: right;
  width: 75px;
}
.gehuanjishiform .el-form-item__error{
   margin-left:20px;
}
//新增按钮样式(修改)
.btn_pad {
  float: right;
  margin: 0px 0px 20px 20px;
  width:80px;
}
//弹出框表单布局
.dia_form {
  width: 100%; 
  padding:0 6%;
  .form_item{
    width: 100%;
  }
}
//弹框样式
.el-dialog{
  margin-top: 0 !important;
  top: 5% !important;
  max-height: calc(100% - 10%);
  max-width:calc(100% - 50px);
  display: flex;
  flex-direction: column;
  // transform: translateY(-50%); 
}
// 弹框
.el-dialog__title{
  font-size:14px;
  font-weight: bold;
}
.el-dialog {
  width: 70% !important;
}
.el-dialog__header{
  height: 45px;
  line-height: 45px;
  border-bottom:1px solid #eee;
  background-color:#f3f7f9;
  padding: 0 0 0 20px;
  font-size: 16px;
}
.dialog-fade-enter-active{
  animation:dialog-fade-in 0.5s;
}
.dialog-fade-leave-active{
  animation:dialog-fade-out 0.5s;
}
@keyframes dialog-fade-in {
  0% {
    
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}
//弹框底部固定
.el-dialog__body{
  // max-height: 75vh;
  overflow: auto;
}
.el-dialog__footer{
  border-top: #eee 1px solid;
  padding: 20px 0px 20px 0px;
}
// 搜索框样式
.search{
  // width: 20% !important;
  width:20%;
  margin-right: 2%;
  
}
.tech .search{
  width: 20%;
  margin-right: 1%;
}
.search-min{
  width: 17%;
  margin-right: 1%;
}
// 头部选项卡
.tabs-view-container .el-tag .el-tag__close:hover{
  background-color: red;
  color: #fff;
}
.tabs-view-container .el-tag:hover{
  background-color: #eef1f6;
  
}

.el-tabs__nav-scroll{
   padding-bottom: 20px;
}
.el-tabs__active-bar{
  height: 2px;
}
.el-tabs__header{
  margin: 0 0 20px;
  border-bottom: 1px solid #eee;
}
// 表格内选项卡
.tabStyle{
  background-color: #fff;
}
.tabStyle .el-tabs .el-tabs__header .el-tabs__nav-wrap,
.buttDetails .el-tabs .el-tabs__header .el-tabs__nav-wrap
{
  padding: 15px 20px 0 20px;
}
.tabStyle .el-input{
  margin-left: 20px;
  margin-bottom: 20px;
}
.tabStyle button{
  margin-right: 20px;
  margin-bottom: 20px;
}
.tabStyle2 .el-input {
  margin-left: 0px;
  margin-bottom: 0px;
}
.tabStyle2 .el-input-group {
  margin-left: 0px;
  margin-bottom: 20px;
}
//选项卡
.el-tabs__nav .el-tabs__item{
  &:hover{
    color: #20a0ff;
  }
}
// 订单管理头部
.orderTab .el-tabs__item{
  text-align: center;
}
.orderTab .el-tabs__header .el-tabs__nav-wrap{
  padding: 15px 20px 0 20px;
}
.searchs{
  padding: 0px 20px 20px 20px;
}
.el-input__inner::placeholder,
.el-date-editor .el-range-input::placeholder
{
  color:#b2b4b9;
}
//自定义弹窗大小
.noticeDialog .el-dialog {width:700px !important;}
.noticeDialog .el-dialog__body{padding: 30px 20px; }
.noticeDialog .el-dialog__footer{padding: 20px 0px 20px 0px;}
.noticeDialog .el-dialog__title{float: left;margin-top: 16px;}
// .selfDialogWidth .el-dialog {height:90%  !important;}
.selfDialogWidth3 .el-dialog {width:750px !important;}
.setup_station .el-dialog{width: 500px !important;}
.address_station .el-dialog{width: 100% !important;}
.tech-section-lages{width: 700px !important;}
// .selfCustomerDialog1 .el-dialog{width:800px !important;}
//更换服务时间弹窗上的技师选择的表单验证信息位置调整
.prostyle .el-form-item__content .el-form-item__error{
  padding-left:20px;
}
.edui-default{
  z-index:9999 !important;
}
.selfUeditor .el-dialog{
  width:900px;
}
//鼠标滑过图片效果
.img-hover{
  display: block;
}
.img-hover:hover{
  cursor: pointer;
}
//自定义弹窗大小
.selfDialogWidth2 .el-dialog {width:50% !important}
.selfDialogWidth2 .el-dialog__body {padding:30px 0;}
.selfDialogWidth3 .el-dialog__body {padding:30px 0;}
.selfCustomerDialog1 .el-dialog__body {padding:30px 0;}
//自定义弹窗大小
.selfDialogWidth1 .el-dialog {width:45% !important;min-width: 630px;}
.selfDialogWidth1 .el-dialog .el-form-item__label{font-size:14px;}
//解决技能页面的多选框抖动
// .kill .el-select__tags .el-tag{
//   position: relative;
//   // line-height:23px; 
// }
.el-select__tags .el-tag{
  position: relative;
}
.refund_difference .el-form-item__error{
  margin-left: 265px;
}
.el-select .el-tag__close.el-icon-close{
  top:5px;
  right: 3px;
  color: #909399;
  background-color: #f0f2f5;;
}
// .kill .el-select__tags .el-tag .el-tag__close{
//   position: absolute;
//   top:px;
// }
.el-tag{background:#f2f7fd;}
//搜索功能造成的多选框抖动
.kill .el-select__tags  .is-undefined{
  height:24px;
}
//导航栏TAB关闭样式调整
.tabs-view  .el-icon-close{
  margin-top:-8px;
  right: 0px !important;
}
.tabs-view .el-tag{
  background:#fff;
}
//多选框中TAB关闭:hover时样式调整
.el-tag .el-icon-close:hover {
  color: #fff !important;
  background:#6989F3 !important;
}
.sum_style .el-input__inner{
  height:30px;
}
.sum_style .el-input-number__decrease, .sum_style .el-input-number__increase{
  width:30px;
  height:30px;
  line-height: 30px;
}
//多选框中TAB关闭样式调整
.el-tag .el-icon-close{
  border-radius: 50%;
  text-align: center;
  position: absolute; 
  top: 5px;
  cursor: pointer;
  font-size: 12px;
  transform: scale(0.75, 0.75);
  height: 22px;
  width: 22px;
  line-height: 22px;
  // vertical-align: middle;
  // top: 4px;
  right: 3px;
}
.tabs-view-container .el-tag .el-icon-close {
  border-radius: 50%;
  text-align: center;
  position: relative; 
  cursor: pointer;
  font-size: 12px;
  transform: scale(0.75, 0.75);
  height: 22px;
  width: 22px;
  line-height: 22px;
  vertical-align: middle;
  top: 4px;
  right: 1px;
}
//多选框中TAB中内容样式调整
 .el-select__tags-text{
  display:inline-block;
  margin-top:3px;
  width:125px;
  height:24px;
  line-height:23px;
  font-size:14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align:center;
  margin-left:-6px;
}
//多选框中TAB样式调整
.el-select__tags .el-tag{
  border:1px solid #d8e1ff; 
  width:145px;
  height:30px;
  line-height: 30px;  
}
//改派表头显示
.tableWarpaa .el-table .el-table__header thead tr:nth-of-type(2),
.selfTableWrapStyle2 .el-table .el-table__header thead tr:nth-of-type(2),
.app-container .el-table .el-table__header thead tr:nth-of-type(2),
.schedule-table .el-table .el-table__header thead tr:nth-of-type(2){
	display:none;
}
.testaa th{
  border-right: 0px solid #dfe6ec; 
}
.testaa tbody td{
  height: 40px !important;
  padding: 0px 0 !important;
}
.testaa tbody .selfTd{
  height: 40px !important;
  line-height: 40px !important;
}
.testaa tbody .cell{
  line-height: 1;
}
//改派内部表格样式自定义
.dispatchTaleSelf  .cell{
	padding: 0;
}
.dispatchTaleSelf  th{
  border-right: 0px solid #dfe6ec; 
}
.self-table-style .cell{
  padding: 0;
}
.orderInfoHeaderPic  .cell{
  padding: 0;
}

//自定义日期显示样式
.selfTestStyle1 .el-date-table td.next-month,.selfTestStyle1 .el-date-table td.prev-month{
   color:#48576A;
}
.selfTestStyle1 .el-date-table td.disabled,.selfTestStyle1 .el-date-table td.disabled{
  color:#CCC;
}
.orderTab .el-tabs__item{
  &:nth-child(8){
        &:before {
          content: '*';
          color: #ffffff;
          margin-right: 0px;
          font-size: 16px;
          vertical-align:middle;
        }
  }
}
//高亮当前打开的菜单

.sidebar .router-link-active{
  span{
    color: #fff;
  }
}
// 阿里字体图标
@font-face {
  font-family: 'iconfont';  /* project id 531557 */
  src: url('//at.alicdn.com/t/font_531557_hqxtkbps2rp.eot');
  src: url('//at.alicdn.com/t/font_531557_hqxtkbps2rp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_531557_hqxtkbps2rp.woff') format('woff'),
  url('//at.alicdn.com/t/font_531557_hqxtkbps2rp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_531557_hqxtkbps2rp.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
//修改删除确定框的样式
.el-message-box__title{
  line-height: 45px;
}
.el-message-box .el-message-box__btns{
  text-align: center;
  button{
    width: 80px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    padding: 0;
    border-radius: 0;
    border-color: #4c70e8;
    color: #4c70e8;
    &:nth-child(1){
      background-color: #fff;
    }
    &:nth-child(2){
      background-color: #4c70e8;
      color: #fff;
    }
    
  }
}
.el-message-box .el-message-box__header{
  background-color: #f3f7f9;
  font-size: 15px;
  border-bottom: 1px solid #eee;
  height: 45px;
  line-height: 45px;
  padding: 0 0 0 20px;
  button i{
    display: none;
  }
}
.el-message-box .el-message-box__content{
  .el-message-box__message{
    text-align: center;
  }
}
.hideSidebar .sidebar .slde-bcak-log{
  display: none;
}
//文字提示样式
.el-tooltip__popper.is-dark{
  background-color: #d8e1ff !important;
  color: #2f323e !important;
  font-size: 12px !important;
  
}
.el-tooltip__popper[x-placement^=left] .popper__arrow {
  right: -6px;
  border-right-width: 0;
  border-left-color: #d8e1ff;
}
.el-tooltip__popper[x-placement^=left] .popper__arrow::after {
  right: 1px;
  bottom: -5px;
  margin-left: -5px;
  border-right-width: 0;
  border-left-color: #d8e1ff;
}

input::-webkit-input-placeholder {
  color:#606266;
}
//提示信息滚动
.el-tooltip__popper{
  max-width: 300px;
  max-height: 100vh;
  word-break: break-all; 
  word-wrap:break-word;
  
  // overflow-y: scroll;
  // overflow: auto;
  // overflow-x: hidden;
}
// 嵌套表格样式
.el-table__expanded-cell {
  padding: 10px 0 20px 50px;
  background-color: #fbfdff;
  box-shadow: inset 0 2px 0 #f4f4f4;
}
.el-pager li.active{
  @include backColor($pageBack,$pageBack);
  color:#fff;
}
#app .seize .el-switch.is-checked .el-switch__core{
  @include backColor($switchBtn,$switchBtn)
}
#app .ceshi3{
  border:1px solid $operationColor;
  color: $operationColor;
}
#app .ceshi3:hover{
  color: #fff;
  background-color: $operationColor;
  border: 1px solid $operationColor;
}
#app .el-table{
  @include tableWhole($tableSize,$tableColor,$tableTrHeight,$tableBackGround)
}
.el-select-dropdown__item.selected{
  color: #4c70e8;
}
// .el-select-dropdown__item.selected.hover{
//   @include seleteColor($seleteColor,$seleteBack)
// }
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected{
  color: $seleteBack;
}
.el-cascader-menu__item.is-active{
  color: #4c70e8;
}
// .el-cascader-menu__item.is-active:hover{
//   @include seleteColor($seleteColor,$seleteBack)
// }
.el-tabs__item.is-active{
  color: $seleteBack;
}
.el-tabs__active-bar{
  background-color: $seleteBack;
}
.el-tabs__nav .el-tabs__item:hover{
  color: $seleteBack;
}
.el-loading-spinner .path{
  stroke:$seleteBack;
}
.el-select .el-input__inner:focus{
  border-color: $seleteBack;
}
.el-input__inner:focus{
  border-color: $seleteBack;
}
.el-textarea__inner:focus{
  border-color: $seleteBack;
}
.el-loading-spinner .el-loading-text{
  color: $seleteBack;
}
.tabs-view-container .router-link-active .el-tag{
  background-color: $seleteBack;
}
// 修改树状图多选框颜色
.el-tree{
  border: 1px solid #d1dbe5;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color:#4c70c8;
  border-color:#4c70c8;
}
.el-checkbox__input.is-checked .el-checkbox__inner{
  @include backColor($seleteBack,$seleteBack)
}
//修改多选框颜色
.el-checkbox__inner{
  border-color: #1f2d3d;
}
.el-checkbox__inner:hover{
  border-color: $seleteBack;
}
.el-checkbox__input.is-focus .el-checkbox__inner{
  border-color: $seleteBack;
}
.btn-color{
  @include backColor($buttonBack,$buttonBack);
  color: $buttonColor; 
}
.btn-color-cancel{
  border: 1px solid $buttonColorCancal;
  color: $buttonColorCancal;
  background: $buttonBackCancal
}
.amap-sug-result{
  z-index:9999;
  width:350px;
  right: 20px;
  left: inherit !important;
}

//弹框loading
.tabBox .el-loading-spinner,.techtabBox .el-loading-spinner{
  position: fixed;
  width: 74%;
}
.selfTableWrapONES1 .refund_difference .el-form-item__error{
  margin-left:320px;
}
.selfTableWrapONES1 .el-form-item__error{
  margin-left:140px;
}
.poi-more{
  display:none;
}
.el-progress-bar__inner{
  background-color: #4c70e8 !important;
}
.buttBox .el-table .cell{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stepControl .el-step__head{
  width: 28px;
  // height: 28px;
}
.create_address .el-dialog__body,.customer_address .el-dialog__body{
  overflow:initial;
}
.stepControl .el-step__title{
  font-size: 13px;
  font-weight: 500;
  color:#48576a;
}
.stepControl .el-step__line.is-vertical{
  left: 13px;
  top: 28px;
}
.stepControl .el-step__icon{
  line-height: 24px;
}
.el-step__head.is-text.is-finish{
  background-color: #4c70e8;
  border-color: #4c70e8;
}
.selfTableWrapONES1 .el-form-item .el-form-item__label{
  width: 140px;
  text-align: left;
}
.el-step__title.is-finish{
  color:#4c70e8;
}
.time-select-item.selected:not(.disabled){
  background-color: #4c70e8;
}
//溢出显示省略号
.overheidden {
  width: 120px;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//修改单选框颜色
.el-radio__inner{
  border-color: #1f2d3d;
}
.el-radio__input.is-checked .el-radio__inner{
  border-color: #4c70e8;
  background: #4c70e8;
}
.el-radio__inner:hover{
  border-color: #4c70e8;
}